<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xt.client">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_HOME_APP_SEARCH_DATA" />


    <application
        android:name=".application.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppFullTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ProtoActivity" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".activitys.SaveLastActivity" />
        <activity android:name=".activitys.WCDBActivity" />
        <activity android:name=".activitys.JNIActivity" />
        <activity android:name=".activitys.PerformanceActivity" />
        <activity android:name=".activitys.PrepareActivity" />
        <activity android:name=".activitys.prepare.PrepareMiddleActivity" />
        <activity android:name=".activitys.ShowActivity" />
        <activity android:name=".activitys.ThreadRefreshActivity" />
        <activity android:name=".activitys.PerformanceCaseActivity" />

        <activity
            android:name=".activitys.AnnotationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activitys.TestActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.xt.appplugin.Plugin1Activity" />
        <activity
            android:name=".HostActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".service.OtherProcessService"
            android:process="com.xt.xt" />
        <service
            android:name=".service.Other2ProcessService"
            android:process="com.xt.xt2" />
        <service
            android:name=".service.Other3ProcessService"
            android:process="com.xt.xt3" />

        <service android:name=".service.OnceProcessService" />
        <service android:name="com.xt.client.service.ThreadService" />
        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <provider
            android:name=".provider.StartupProvider"
            android:authorities="${applicationId}.android_startup.multiple"
            android:exported="false">
            <meta-data
                android:name="com.rousetime.sample.startup.SampleStartupProviderConfig"
                android:value="android.startup.provider.config" />
            <meta-data
                android:name="com.rousetime.sample.startup.multiple.SampleMultipleSecondStartup"
                android:value="android.startup" />
        </provider>

        <activity android:name="com.xt.client.function.koom.test.LeakedActivity" />
        <activity android:name="com.xt.client.function.koom.test.ActivityLeakMaker$LeakedActivity" />

        <service
            android:name="com.xt.client.service.QuickSettingService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/battery"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>

        <receiver
            android:name="com.xt.client.broadcast.MyBroadcast"
            android:exported="false">
            <intent-filter>
                <action android:name="my_self2" />
            </intent-filter>
        </receiver>
    </application>

</manifest>