<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xt.appplugin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.REMOVE_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".PluginMainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity
            android:name=".Plugin3Activity"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.SEND" />-->
            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity android:name=".Plugin4Activity" />
        <activity android:name=".Plugin5Activity"

            />
        <activity
            android:name=".Plugin6Activity"
            android:exported="true"
            android:theme="@style/transparent.Theme" />

        <service
            android:name=".service.TestService"
            android:exported="true"
            android:process=":aaaa" />


    </application>

    <queries>
        <package android:name="com.xt.client" />
        <intent>
            <action android:name="com.xt.client.service.Other3ProcessService" />
        </intent>
    </queries>

</manifest>